<div class = "container" id = "comments_title">
	<div class = "col-md-4" id = "vertical">
		<%=link_to("< Back to Rotation", m4rotation_path(@m4rotation), :class => 'btn btn-primary btn-large')%>
	</div>

	<div class = "col-md-4">
		<h1><%=@m4rotation.name %> Comments</h1>
	</div>
	<div class = "col-md-4" id = "vertical">
		<%=link_to("+ Add New Comment", new_m4rotation_m4comment_path, :class => 'btn btn-primary btn-large')%> 
	</div>
</div>
	
<div class = "panel panel-default" id="comment_panel">
	
	<% @m4comments.order("created_at desc").each do |comment| %>
		

			<div class = "panel-heading">

				<h2><%= comment.name %></h2>   	<p>Posted: <%= format_date(comment.created_at)%></p>
				<p> <%=format_rating(comment.rating)%> </p>
			</div>
			
			<%= markdown(truncate((comment.body), length: 1000, separator: ' '))%>


		 <% if comment.body.size > 1000 %>
		 	<div class = "more"><%=link_to('Read More...', m4rotation_m4comment_path(@m4rotation, comment)) %></div>
		 <% end %>

			<% if current_user_admin? %>
				<%=link_to "Delete", m4rotation_m4comment_path(@m4rotation, comment), method: :delete, data: {confirm: 'Are you sure?'}%>
			<% end %> <br><br><br><br><br>
		
	<% end %> </ul> 
</div>





<div class = "container">
	<%=link_to("+ Add New Comment", new_m4rotation_m4comment_path, :class => 'btn btn-primary btn-large', :id => 'big_btn')%>
</div>