<div class = "container">
	<div class ="col-md-4" id = "sign_in">
		<header id ="content-header">
			<h1>Sign In</h1>
		</header>


		<%= form_tag(session_path) do %>
			<fieldset>
					<div class="required">
						<%= email_field_tag :email, nil, required: true, placeholder: 'UIC Student Email' %>
					</div>
					<div class="required">
						<%= password_field_tag :password, nil, required: true, placeholder: 'Password' %>
					</div>
				<p>
					<%= submit_tag 'Sign In', :class => 'btn btn-primary btn-large' %> <h6> Due to research being run on rotationsrx currently, no NEW sign ups are being allowed </h6> 
					<h5> Please contact Victor at rotationsrx@gmail.com for any questions </h5>

 <!--					<%= link_to "Sign Up!", signup_path, :class => 'btn btn-primary btn-large' %>  -->

				
				</p>
			</fieldset>


		<% end %>
	</div>

</div>

